* text=auto eol=lf
runtime/mixqueue/mq_agent.py -text
runtime/mixqueue/matchbot-language.txt -text
runtime/mixqueue/releases/*/language.txt -text -diff
runtime/mixqueue/releases/*/resources/bot-dependencies.json -text
runtime/mixqueue/releases/0.6.3/** -text
runtime/mixqueue/releases/0.6.4/** -text
runtime/mixqueue/releases/0.6.5/** -text
runtime/mixqueue/releases/0.6.7/** -text
